@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');

$black: #000000;
$dark: #151515;
$gray: #303030;
$white: #ffffff;
$accent: #00d0ff;
$error: #ff4444;

$app-bg: $black;
$app-text: $white;

$menu-button-bg: $gray;

$sub-option-bg: $dark;

$sub-option-button-bg: $gray;
$sub-option-button-bg_hover: $accent;

body {
  background-color: $app-bg;
  color: $app-text;
  font-family: 'Wix Madefor Display', sans-serif;
}

div {
  font-family: 'Wix Madefor Display', sans-serif;
}

.mobile-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.nav-content-grid {
  display: grid;
  grid-template-columns: 1fr 5fr; /* 1/6 and 5/6 column sizes */
  grid-gap: 20px;
}
  
.card, card-header {
  background-color: #444 ;
  color: $white ;
}

.card-header {
  background-color: #555 ;
  color: $white ;
}

.graph-container {
  background-color: #222 ;
}

.divider {
  height: 1px ;
  background-color: #555 ;
}

  // Sidebar Menu ---------------------------------------
  // Note, we have to use PIXELS for padding, margin, etc to keep background and menu tied together

  .sidebar-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0px -30px 0px;

    a, Link {
      color: $white;
      text-decoration: none;
      display: flex;
      align-items: center; 
      justify-content: center;

      &:hover {
        color: $dark;
      }
    }
  }
  
  .menu-button {
    z-index: 1;
    background-color: $menu-button-bg;
    color: $white;
    font-weight: bold;
    font-size: 20px;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: none;
    margin: 0px 0px 35px 20px;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .sub-options {
    transform: translateY(-55px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $sub-option-bg;
    transition: all 0.2s ease;
    overflow: hidden;
    max-height: 0;
    width: 200px;
    margin-left: 20px;
    border-radius: 0px 0px 20px 20px;
  }
  
  .sub-options.expanded {
    max-height: 400px;
    width: 200px;
    margin-left: 20px;
    padding: 30px 0px 10px 0px;
  }
  
  .sub-option {
    background-color: $sub-option-button-bg;
    width: 90%;
    border-radius: 15px;
    border: none;
    padding: 10px 0px 10px 0px;
    margin: 10px 0px 0px 0px;
    cursor: pointer;

    &:hover {
      background-color: $sub-option-button-bg_hover;
    }
  }
  
  
  // Passage Auth (1Password) ---------------------------------------
  // ----------------------------------------------------------------
    /* Default values shown */

passage-auth {
  /* Passage Container Styles */
  --passage-container-background: $white;
  --passage-container-background-color: $white;

  --passage-container-max-width: 220px;
  --passage-container-margin: auto;
  --passage-container-padding: 30px 30px 20px;
  --passage-error-color: $error;

  /* Body Font Styles */
  --passage-body-font-family: 'DM Sans', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --passage-body-font-size: 14px;
  --passage-body-font-weight: 400;
  --passage-body-text-color: $white;

  /* Header Font Styles */
  --passage-header-font-family: 'DM Sans', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --passage-header-font-weight: 700;
  --passage-header-text-color: $white;
  --passage-header-font-size: 24px;

  /* Button Styles */
  --passage-button-font-size: 16px;
  --passage-button-font-weight: 400;
  --passage-button-width: 50%;
  --passage-button-border-radius: 75px;

  /* Color Palette */
  --passage-onprimary-color: #fff; /* text color on primary control background */
  --passage-primary-color: $white; /* main color used for controls */

  --passage-onhover-color: #fff;
  --passage-hover-color: #4d4d4d;

  --passage-onactive-color: #fff;
  --passage-active-color: #6b6b6b;

  /* Email and Phone Input Box Styles */
  --passage-control-border-radius: 5px;
  --passage-control-border-color: #dbdbdb;
}
