@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');

$black: #000000;
$dark: #151515;
$gray: #303030;
$white: #ffffff;
$accent: #00d0ff;

$app-bg: $black;
$app-text: $white;

$menu-button-bg: $gray;

$sub-option-bg: $dark;

$sub-option-button-bg: $gray;
$sub-option-button-bg_hover: $accent;

body {
  background-color: $app-bg;
  color: $app-text;
  font-family: 'Wix Madefor Display', sans-serif;
}

div {
  font-family: 'Wix Madefor Display', sans-serif;
}

.mobile-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.nav-content-grid {
  display: grid;
  grid-template-columns: 1fr 5fr; /* 1/6 and 5/6 column sizes */
  grid-gap: 20px;
}
  
.card, card-header {
  background-color: #444 ;
  color: $white ;
}

.card-header {
  background-color: #555 ;
  color: $white ;
}

.graph-container {
  background-color: #222 ;
}

.divider {
  height: 1px ;
  background-color: #555 ;
}

  // Sidebar Menu ---------------------------------------
  // Note, we have to use PIXELS for padding, margin, etc to keep background and menu tied together

  .sidebar-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0px -30px 0px;

    a, Link {
      color: $white;
      text-decoration: none;
      display: flex;
      align-items: center; 
      justify-content: center;

      &:hover {
        color: $dark;
      }
    }
  }
  
  .menu-button {
    z-index: 1;
    background-color: $menu-button-bg;
    color: $white;
    font-weight: bold;
    font-size: 20px;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: none;
    margin: 0px 0px 35px 20px;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .sub-options {
    transform: translateY(-55px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $sub-option-bg;
    transition: all 0.2s ease;
    overflow: hidden;
    max-height: 0;
    width: 200px;
    margin-left: 20px;
    border-radius: 0px 0px 20px 20px;
  }
  
  .sub-options.expanded {
    max-height: 400px;
    width: 200px;
    margin-left: 20px;
    padding: 30px 0px 10px 0px;
  }
  
  .sub-option {
    background-color: $sub-option-button-bg;
    width: 90%;
    border-radius: 15px;
    border: none;
    padding: 10px 0px 10px 0px;
    margin: 10px 0px 0px 0px;
    cursor: pointer;

    &:hover {
      background-color: $sub-option-button-bg_hover;
    }
  }
  
  
    // -----------------------------------------------------